//@import "../../assets/styles/scss/components/landing";

.style{
    margin: 100px !important;
}
.rows{
    margin-top: 50px !important;
    margin-right: 200px;
}
.searchs{
    margin-top: 30px !important;
    margin-left: 200px;
}

img{
    width: 500px ;
    height: 150px ;
    margin: 0 auto; 
    display: block; 
}

svg{
    margin-top: 40px;
}

.card{
    margin: 0 auto;
    text-align: center;
    display: block;
}