.border{
    border: solid 2px black !important;
    width: 300px;
    height: 150px;
}
button{
    margin: 0 140px;
    margin-top: 40px;
    display: block;
}
ul{
    list-style: none;
}
h5{
    color: #00A09D;
}