<!-- <form>
  <div class="row clearfix">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="border">
        <h5>Phiếu Yêu Cầu</h5>
        <button type="button" class="btn btn-primary" style="margin-top: 65px">1.Cần Xử Lý</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="border">
          <div>
            <h5>{{ "BLANKK.PAGE.GOODSRECEIP" }}</h5>
            <span>{{ "BLANKK.PAGE.WAREHOUSE" }}</span>
          </div>
        <button type="button" class="btn btn-primary">2.Xem Chi Tiết</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="border">
        <div>
        <h5>Phiếu Xuất</h5>
        <span>Nhà Kho :</span>
        </div>
        <button type="button" class="btn btn-primary">3.Xem Chi Tiết</button>
      </div>
    </div>
  </div>
</form> -->
Dashboard go here....