<div bsModal #popModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="productAttributeModal"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog {{modalSize}}">

    <div #modalContent class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title pull-left">
          <span>{{title }}</span>
        </h4>
        <button type="button" class="close pull-right" (click)="cancelHandler()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      </div>

      <div class="modal-body">
        <dynamic-component (componentUpdated)="updateComponent($event)" [componentType]="component"></dynamic-component>
      </div>
      <div *ngIf="config.showFooter" class="modal-footer">
        <button *ngIf="config.showClose" type="button" class="btn btn-default waves-effect" (click)="cancelHandler()">
      {{"COMMON.BUTTON.CANCEL" | translate }}
  </button>
        <button type="button" *ngIf="config.showSaveClose" class="btn btn-primary waves-effect" (click)="saveHandler(false)">
      {{"COMMON.BUTTON.SAVECLOSE" | translate }}
  </button>

        <button *ngIf="config.showSaveNew" type="button" class="btn btn-primary waves-effect" (keypress.enter)="saveHandler(true)"
          (click)="saveHandler(true)">
    {{"COMMON.BUTTON.SAVENEW" | translate }}
</button>
        <button *ngIf="config.showRemove" type="button" class="btn btn-default waves-effect" (click)="deleteHandler()">
  {{"COMMON.BUTTON.REMOVE" | translate }}
</button>

      </div>
    </div>
  </div>
  <confirm-dialog #confirm [DisplayMessage]="'COMMON.CONFIRM.MESSAGE' | translate"></confirm-dialog>
  <toaster-container></toaster-container>