<form (ngSubmit)="onSubmit()">

  <div class="row clearfix">
    <div class="col-sm-12 col-md-6 col-lg-8">
      <label class="form-label nh-label">{{"RISK_ASSESSMENT.PAGE.APPLICANT_NAME" | translate}}: </label>
      <label class="form-label nh-label">{{customer.first_name}}</label>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <a href="#" (click)="showHistory($event)" class="pull-left mt-10">Last Updated: {{customer.last_updated}}</a>
      <button type="button" class="btn btn-primary waves-effect pull-right">{{"RISK_ASSESSMENT.PAGE.BUTTON_SHARE" | translate}}</button>
    </div>

  </div>

  <div class="assessment-wrapper">
    <div class="row question-header">
      <div class="col-4">
        <h4>{{"RISK_ASSESSMENT.PAGE.QUESTIONS" | translate}}</h4>
      </div>
      <div class="assessment-scale col-5">
        <h4>{{"RISK_ASSESSMENT.PAGE.SCALE" | translate}}</h4>
        <div class="row">
          <div *ngFor="let s of editingRiskAssessment.scales" class="col-3">
            <!-- {{"RISK_ASSESSMENT.PAGE.NORISK" | translate}} -->
            {{s}}
          </div>
        </div>

        <!-- <div class="col-md-1 col-lg-1 col-sm-2">
            {{"RISK_ASSESSMENT.PAGE.LOWRISK" | translate}}
        </div>
        <div class="col-md-1 col-lg-1 col-sm-2">
            {{"RISK_ASSESSMENT.PAGE.MIDRISK" | translate}}
        </div>
        <div class="col-md-1 col-lg-1 col-sm-2">
            {{"RISK_ASSESSMENT.PAGE.HIRISK" | translate}}
        </div> -->
      </div>

      <div class="col-md-3 col-lg-3 col-sm-2">
        <h4>{{"RISK_ASSESSMENT.PAGE.NOTES" | translate}}</h4>
      </div>
    </div>
    <hr>
    <div *ngFor="let e of editingRiskAssessment.questions" class="row clearfix">
      <div class="col-md-4">
        {{e.questionText}}
      </div>
      <div class="assessment-scale col-5">
        <div class="row">
          <input name="{{e.questionId}}" value="{{s}}" *ngFor="let s of editingRiskAssessment.scales" class="col-3" [(ngModel)]="customer.surveys['Qualification'][e.questionId][0].Scale" type="radio" />
        </div>

      </div>
      <div class="col-md-3 col-lg-3 col-sm-2"><textarea (change)="updateNote($event, e.questionId)">{{customer.surveys['Qualification'][e.questionId][0].Notes}}</textarea></div>
    </div>
  </div>
</form>
<button type="button" class="bottom-align" (click)="convertToPDF()">Convert To PDF</button>