$img-url: "assets/images/";
$font-family: "Open Sans";

$color-primary: #00A09D;
$color-txt: #333333;

$color-brand: #e82c2e;

$color-danger: #E82C2E;
$color-warning: #ffd65c;
$color-success: #5cb85c;
$color-info: #6f9bc2;
$color-new: #ffa800;
$color-green: #cccc00;
$color-input: #7bad0b;

$color-txt-info: #898989;
$color-txt-hint: #c2c2c2;

$color-border: #ddd;
$color-bg: #f4f4f4;
$color-bg-dark: #4f5562;

$color-link: #0083af;

$btn-primary-bg: $color-primary;

$btn-success-bg: $color-success;

$btn-default-bg: #fff;
